<style>
    .content{
        font-size: 20pt;
        text-align: center;
    }
</style>

<div class="content">
    <h1>Olá amigo chamado {{name}}!</h1>
    <strong>Quer trocar a senha, ta ai o token!</strong>
    <a href="{{link}}">Link com o token</a>
</div>